*,
*:before,
*:after {
-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}
.container-fluid{
    padding: 0 !important;
    width: 960px;
    margin: 0 auto;
   

}
.logo{
  float: left;
  padding: 30px 0 22px 0;
}
nav{
    clear: both;
    text-align: center;

}

  h2{
    font-size: 36px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: orange;
    line-height: 50px;
    text-align: center;
}
body{
    background-image: url(".vscode/images/pexels-francisco-cornellana-castells-1062063.jpg");
    background-size: cover;
    background-repeat: no-repeat; /* Specifies if the background image should be repeated or not */
  background-position: center

}  
.primary-nav a {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(#49708f,#293f50); ;
    padding: 10px;
}
a{
  color: #f10808;
  text-decoration: none;
  padding: 10px;
 
 }
.hero h2 {
    color: rgb(247, 245, 245);
    text-align: center;
    padding-bottom: 10px;
    background: linear-gradient(#49708f,#293f50);
}

.hero p {
    color: black;
    text-align: center;
}
body{
      
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}
nav a{
    font-size: 30px;
    clear: both;
}

#introduction {
    margin-bottom: 20px;
  }
  
  #introduction h2 {
    background: linear-gradient(#49708f,#293f50); 
  }
  
  #introduction p {
    line-height: 1.5;
  }
  
  #introduction a {
    color: #d9ff00;
    text-decoration: none;
  }
  
  #introduction a:hover {
    text-decoration: underline;
  }
  
.btn-alt{
 border: 1px solid orange;

} 
.btn-alt:hover{
 background: rgba(48, 54, 146, 0.74);
 
}
button{
 padding: 10px;
 border-radius: 5px;
 background: blue;
 color: white;
}

  
  #habitat {
    margin-bottom: 20px;
  }
  
  #habitat h2 {
    background: linear-gradient(#49708f,#293f50); ;
  }
  
  #habitat h3 {
    margin-top: 10px;
  }
  
  #habitat ol {
    padding-left: 20px;
  }
  
  #habitat p {
    line-height: 1.5;
  }
  
  #media {

    margin-bottom: 20px;
  }
  
  #media h2 {
    background: linear-gradient(#49708f,#293f50); 
    color:rgb(243, 243, 243);
  }

  video{
    width: 800px;
  height: fit-content;
 padding-right: 20px;
  }
   img{
    width: 700px;
    height:fit-content;
    padding-right: 20px;
  }
  .container {
    margin-bottom: 20px;
  }
  
  .Tables h2 {
    background: linear-gradient(#49708f,#293f50); 
    color: rgb(236, 236, 236);
    margin-bottom: 10px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .table th {
    background-color: #175797;
    font-weight: bold;
    text-align: left;
  }
  footer{
    clear: both;
color: #fff;
}